//font-family: 'Roboto', sans-serif; --> 300 / 500 / 700
//font-family: 'Shrikhand', cursive; --> 400

//Colors
$primary: #9356DC;
$secondary: #FF79DA;
$accent: #99E2D0;
$main-background: #F6F6F6;
$footer-background--header-txt: #353535;

//Fonts
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Shrikhand', cursive;

//Font-size
$main-txt-size : 16px;
$title-size : 24px;
$subtitle-size: 18px;
$card-description-size: 17px;
$heart-size: 22px;

//Font-weight
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;